
$color-sky: rgba(56, 189, 248, 1);
$color-gary-light: rgba(250, 250, 249, 1);
$color-salt-light: rgba(226, 232, 240, 1);
$color-salt-weight2: rgba(30, 41, 59, 1);
$color-white-light: rgb(255, 255, 255);
$color-zinc: rgba(250, 250, 250, 1);
$color-zinc-weight: rgba(244, 244, 245, 1);
$color-gray-weight: rgba(75, 85, 99, 1);
$color-salt-avrage: rgba(203, 213, 225, 1);
$color-salt-weight: rgba(100, 116, 139, 1);
$color-shadow: rgba(194, 201, 210, 1);
