@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

$font-robot: 'Roboto', sans-serif;
$size-smaller: smaller;
$size-small: small;
$size-medium: medium;
$size-large: large;
$size-larger: xx-large;
